/* Шрифты */
* {
    box-sizing: border-box;
    font-family: 'Muller';
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerBold.woff2') format('woff2'),
        url('/fonts/MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerRegular.woff2') format('woff2'),
        url('/fonts/MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerMedium.woff2') format('woff2'),
        url('/fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerBold.woff2') format('woff2'),
        url('/fonts/MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerLight.woff2') format('woff2'),
        url('/fonts/MullerLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerLight.woff2') format('woff2'),
        url('/fonts/MullerLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerMedium.woff2') format('woff2'),
        url('/fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerRegular.woff2') format('woff2'),
        url('/fonts/MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Общие стили для элементов */

body {
    background-color: #F1F1F1;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* Общие стили для классов */

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.btn {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    padding: 13px 20px;
    background: none;
    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
    cursor: pointer;
}

.link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.section-heading {
    padding-bottom: 20px;
    padding-top: 70px;
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

/* шапка */

.header-top {
    display: flex;
    padding: 30px 0px;
    align-items: center;
    justify-content: space-between;
}

.header-top__phone {
    padding-left: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}

.header-top__left {
    display: flex;
    align-items: center;
}

.header-top__right {
    display: flex;
    align-items: center;
}

.header-top__right-account-icon {
    display: inline-block;
    width: 20px;
    height: 15px;
    background-image: url("/img/keyboard_tab.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-bottom {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 27px 45px;
}

.logo {
    margin-right: auto;
}

.header-bottom__nav-list {
    display: flex;
}

.header-bottom__nav-item:not(:last-child) {
    margin-right: 45px;
}



/* спецпредложения */

.section-special-parent {
    min-height: 600px;
    display: flex;
}

.special-block {
    display: flex;
    flex-direction: column;
    width: calc((100% - 30px) / 2);
}

.special-block:not(:last-child) {
    margin-right: 30px;
}

.special-item {
    flex: 1;
    margin-bottom: 30px;
    background-color: grey;
    padding: 40px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.section-special-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.section-special-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 47px;
}

.special-item-background1 {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("/img/special/1.jpg");
}

.special-item-background2 {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("/img/special/2.jpg");
}

.section-special-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
}

.section-special-heading-big {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.section-special-link-img {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("/img/rectangle-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.section-special-price-big {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    opacity: 0.8;
}

.item-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("/img/special/3.jpg");
}

.special-item:last-child {
    margin-bottom: 0;
}

/* О нас */

.section-about__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

/* услуги */

.section-services__list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.section-services__item {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    min-height: 330px;
    background-color: white;
    border-radius: 15px;
    width: 530px;
    padding: 190px 0px 35px 45px;
    background-repeat: no-repeat;
}

.section-services__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
}

.section-services__heading-img {
    display: inline-block;
    width: 9px;
    height: 13px;
    background-image: url("/img/rectangle-yellow.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-services__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.section-services__card-1 {
    background-image: url("/img/service/1.jpg");
}

.section-services__card-2 {
    background-image: url("/img/service/2.jpg");
}

.section-services__card-3 {
    background-image: url("/img/service/3.jpg");
}

.section-services__card-4 {
    background-image: url("/img/service/4.jpg");
}

.section-services__item:nth-child(2n-1) {
    margin-right: 24px;
}

.section-services__item:nth-child(-n+2) {
    margin-bottom: 24px;
}


/* Преимущества */
.section-advantage__list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.section-advantage__item {
    display: flex;
    flex-direction: column;
    min-height: 276px;
    background-color: #666666;
    width: 276px;
    padding: 40px 42px 32px 45px;
    line-height: 200%;
    background: #FFFFFF;
    border-radius: 15px;
}

.section-advantage__icon {
    display: inline-block;
    width: 66px;
    height: 66px;
    background-repeat: no-repeat;
}

.section-advantage__icon-bathtub {
    background-image: url("/img/advantages/bathtub.svg");
}

.section-advantage__icon-hanger {
    background-image: url("/img/advantages/hanger.svg");
}

.section-advantage__icon-heating {
    background-image: url("/img/advantages/heating.svg");
}

.section-advantage__icon-key {
    background-image: url("/img/advantages/hotel-key.svg");
}

.section-advantage__icon-parking {
    background-image: url("/img/advantages/parking.svg");
}

.section-advantage__icon-reception {
    background-image: url("/img/advantages/reception.svg");
}

.section-advantage__icon-security {
    background-image: url("/img/advantages/security-box.svg");
}

.section-advantage__icon-swimming {
    background-image: url("/img/advantages/swimming-pool.svg");
}

.section-advantage__item:not(:nth-child(4n)) {
    margin-right: 12px;
}

.section-advantage__item:not(:nth-last-child(-n+4)) {
    margin-bottom: 22px;
}

/* Размещение */

.section-placement {
    margin-bottom: 70px;
}

.section-placement__list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.section-placement__item {
    background-color: white;
    border-radius: 15px;
    width: 374px;
    min-height: 440px;
}

.section-placement__item:not(:nth-child(3n)) {
    margin-right: 24px;
}

.section-placement__item:nth-last-child(n+4) {
    margin-bottom: 24px;
}

.section-placement__content {
    padding-left: 45px;
}

.section-placement__all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 27px;
    background-image: url("/img/placement/9.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-placement__link {
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
}

.section-placement__text-price,
.section-placement__rating {
    display: inline;
    margin: 0;
}

.section-placement__price-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 45px;
    margin-top: 36px;
}

.placement-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: black;
}

.section-placement__name,
.section-placement__price-rating {
    margin-bottom: 16px;
}

.section-placement__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.section-placement__text-gray {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.section-placement__link-img {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url("/img/rectangle-white.svg");
    background-position: center;
}

/* хочу тур */

.section-want-tour__block {
    background: #E9E9E9;
    border-radius: 15px;
    padding: 45px;
}

.section-want-tour__heading {
    padding: 0;
    padding-bottom: 20px;
}

.section-want-tour__form-block {
    background: #FFFFFF;
    border-radius: 15px;
}

.section-want-tour__form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section-want-tour__item {
    padding: 31px 28px;
}

.section-want-tour__item-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.section-want-tour__item-select {
    border: none;
    padding-right: 25px;
}

.section-want-tour__item-date {
    border: none;
    padding-right: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.section-want-tour__item-number {
    border: none;
    border-bottom: 1px solid #E9E9E9;
    width: 120px;
}

input {
    outline: none;
}

/* контакты */

.section-contacts__block {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 45px;
}

.section-contacts__img {
    border-radius: 10px;
    width: 653px;
    height: 528px;
}

.section-contacts__left {
    margin-right: 50px;

}

.section-contacts__item {
    display: flex;
    align-items: baseline;
    padding-bottom: 25px;
    min-width: 375px;
    border: none;
    border-bottom: 1px solid #E9E9E9;
}

.section-contacts__title {
    display: block;
    min-width: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

.section-contacts__description {
    margin: 0;
    padding: 0;
    word-wrap: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.section-contacts__item:not(:last-child) {
    margin-bottom: 25px;
}

.section-contacts__other {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #999999;
}

.section-contacts__btn {
    margin-top: 45px;
    padding: 27px 29.5px;
}

/* футер */

.footer {
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer__block {
    padding: 45px;
    background: #333333;
    border-radius: 15px;
    background-image: url("/img/footer__sun.svg");
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 100%;
}

.footer__offer-list {
    margin-right: 125px;
}

.footer__offer-item:not(:last-child) {
    margin-bottom: 40px;
}

.footer__contacts-item:not(:last-child) {
    margin-bottom: 15px;
}

.footer__text {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
}

.footer__block {
    display: flex;
}

.footer__icons-list {
    margin-left: auto;
}

.footer__icon {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.footer__icons-item:not(:last-child) {
    margin-bottom: 20px;
}

.footer__icon-tripadvisor {
    background: url("/img/social/tripadvisor.svg");
}

.footer__icon-ok {
    background: url("/img/social/ok.svg");
}

.footer__icon-vk {
    background: url("/img/social/vk.svg");
}